
<h1>Welcome to <%= Settings.app_name %>.</h1>

<br />

<% unless @tweets.blank? %>
<% @tweets.each.with_index{ |tweet, index| %>
  <%= index %>
  | <%= link_to_unless( tweet.screen_name.blank?, image_tag( tweet.profile_image_url, size: "20x20" ), "https://twitter.com/#!/#{tweet.screen_name}", target: "_blank" ) %>
  | <%= tweet.id_str %>
  | <%= tweet.screen_name %>
  | <%= tweet.post %>
  | <%= tweet.tweet_at.blank? ? "" : tweet.tweet_at.strftime("%Y/%m/%d %H:%M:%S") %>
  <br />
<% } %>
<% end %>

<br />
